.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff");
  font-weight: 400;
}

body {
  overflow-x: hidden;
  color: #000000;
  font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
}

img {
  max-width: 100%;
}

.g-top {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 0;
  background: url('../images/header_bg.png') no-repeat center bottom;
  background-size: cover;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    display: inline-flex;
    align-items: center;
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;

    img {
      display: inline-block;
      margin-right: 10px;
    }

    a {
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #cd2e2a;
        text-decoration: none;
      }
    }
  }

  &__phone {
    display: inline-flex;
    align-items: center;
    margin: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #cd2e2a;
      text-decoration: none;
    }

    img {
      display: inline-block;
      margin-right: 10px;
    }
  }

  &__link {
    display: inline-block;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #cd2e2a;
      text-decoration: none;
    }
  }

  &__search {
    display: inline-block;
    margin: 0;
    color: #ffffff;

    img {
      display: inline-block;
      max-width: 20px;
      max-height: 20px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      color: #cd2e2a;
      text-decoration: none;
    }
  }

  &__basket {
    display: inline-block;
    position: relative;
    margin: 0 0 0 28px;
    color: #ffffff;

    &-counter {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      min-width: 18px;
      height: 18px;
      top: -6px;
      right: -6px;
      padding: 1px;
      border-radius: 999rem;
      background-color: #cd2e2a;
      color: #ffffff;
      line-height: 1;
      font-size: 12px;
      font-weight: 700;
      text-align: center;
    }

    img {
      display: inline-block;
      max-width: 20px;
      max-height: 20px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      color: #cd2e2a;
      text-decoration: none;
    }
  }
}

.g-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 7px 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 8;

  &__mob {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      color: #cd2e2a;
      text-decoration: none;
    }
  }

  &__logo {
    display: block;
    position: relative;
    width: 100%;
    max-width: 236px;
    min-height: 83px;

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      color: #cd2e2a;
      text-decoration: none;
    }

    img {
      display: block;
      max-width: 100%;
      max-height: 83px;
    }

    &-text {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 0;
      color: #b03223;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    &>li {
      display: inline-block;

      &:nth-child(5) {
        .g-header__drop_third {
          left: auto;
          right: 100%;
        }
      }

      &:nth-child(6) {
        .g-header__drop_third {
          left: auto;
          right: 100%;
        }
      }

      &:last-child {
        .g-header__drop_third {
          left: auto;
          right: 100%;
        }
      }

      &>a {
        display: inline-block;
        margin: 0;
        padding: 6px 0 3px 0;
        border-bottom: 3px solid transparent;
        color: #004d87;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          border-color: #cd2e2a;
          color: #cd2e2a;
          text-decoration: none;
        }
      }
    }
  }

  &__dropper {
    position: relative;

    &:hover {
      &>.g-header__drop {
        display: block;
      }
    }
  }

  &__drop {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 320px;
    margin: 0;
    padding: 36px 0;
    background-color: #004d86;

    &_third {
      top: 0;
      left: 100%;
      padding: 30px 0;
      background-color: #1a5f92;

      &>li {
        &>a {
          padding: 8px 44px;
          color: #ffffff;
          font-size: 16px;
          font-weight: 700;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.2s ease-out;

          &:hover {
            background: transparent !important;
            color: #cd2e2a !important;
            text-decoration: none;
          }
        }
      }
    }

    &>li {
      display: block;
      width: 100%;

      &>a {
        display: block;
        width: 100%;
        padding: 11px 50px;
        background: transparent;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          background: rgba(255, 255, 255, 0.1);
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

.g-home-big {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -97px;

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 5px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 15px;
    padding: 0;
    border-radius: 999rem;
    opacity: 1;
    background-color: #d8dce5;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 15px;
    padding: 0;
  }

  .swiper-pagination-bullet-active {
    background: #cd2e2a;
    box-shadow: 0 0 0 4px rgba(205, 45, 42, 0.4);
  }

  .swiper-pagination {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: auto;
    bottom: 50%;
    left: auto;
    right: calc((100vw - 1200px) / 2);
  }

  .swiper-pagination-bullet {
    margin: 15px 0 !important;
  }

  &__counter {
    display: inline-block;
    position: absolute;
    width: auto;
    bottom: 160px;
    left: auto;
    right: calc((100vw - 1200px) / 2);
    color: #ffffff;
    color: #ffffff;
    font-size: 50px;
    font-weight: 300;
    z-index: 2;

    &-current {
      color: #ffffff;
      font-size: 50px;
      font-weight: 700;

      &:before {
        content: '0';
      }
    }

    &-total {
      position: absolute;
      margin: 5px 10px;
      font-size: 25px;
      font-weight: 400;

      &:before {
        content: '0';
      }
    }
  }

  /* .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal>.swiper-pagination-bullets {
    display: inline-block;
    position: absolute;
    width: auto;
    bottom: 160px;
    left: auto;
    right: calc((100vw - 1200px) / 2);
    color: #ffffff;
    color: #ffffff;
    font-size: 50px;
    font-weight: 300;
  }

  .swiper-pagination-current {
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;

    &:before {
      content: '0';
    }
  }

  .swiper-pagination-total {
    position: absolute;
    margin: 5px 10px;
    font-size: 25px;
    font-weight: 400;

    &:before {
      content: '0';
    }
  } */

  &__card {
    display: block;
    position: relative;
    width: 100%;

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 780px;
      overflow-y: auto;
      padding: 100px 0 50px 0;
    }

    &-subtitle {
      display: block;
      margin: 0 0 40px 0;
      color: #ffffff;
      font-size: 30px;
      font-weight: 400;
      text-transform: uppercase;
    }

    &-title {
      display: block;
      margin: 0 0 50px 0;
      color: #ffffff;
      font-size: 70px;
      font-weight: 700;
    }

    &-button {
      display: inline-block;
      margin: 0;
      padding: 18px 72px;
      background-color: #cd2e2a;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background-color: #ff5653;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.g-welcome {
  display: block;
  position: relative;
  width: 100%;
  padding: 95px 0;

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: calc((100vw - 1200px) / 2 - 15px);
    width: 1px;
    height: 100%;
    background: #d8dce5;
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    margin: 25px 0 0 0;

    p {
      display: block;
      margin: 0;
      color: #292929;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }

  &__title {
    display: block;
    position: relative;
    margin: 0 0 5px 0;
    color: #292929;
    font-size: 45px;
    font-weight: 700;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 10px;
      left: -30px;
      width: 9px;
      height: 31px;
      background-color: #cd2e2a;
    }
  }

  &__subtitle {
    display: block;
    margin: 0 0 50px 0;
    color: #292929;
    font-size: 30px;
    font-weight: 300;
  }

  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 625px;
    height: 485px;
    border: 1px solid #d8dce5;

    &-info {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 100%;
      top: -1px;
      width: 100px;
      height: 100px;
      padding: 10px;
      background: #cd2e2a;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-this {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      margin-top: 50px;
      margin-left: 50px;
      background-position: center center;
      background-size: cover;
      z-index: 2;
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 100px;
  }

  &__card {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-left: -30px;
    z-index: 2;

    &-number {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 215px;
      height: 215px;
      box-shadow: 0 0 0 20px #ffffff;
      border: 1px solid #d8dce5;
      border-radius: 999rem;
      background-color: #ffffff;
      text-align: center;
    }

    &-title {
      display: block;
      margin: 0;
      color: #292929;
      line-height: 1;
      font-size: 60px;
      font-weight: 300;
    }

    &-subtitle {
      display: block;
      margin: 0;
      color: #292929;
      line-height: 1;
      font-size: 30px;
      font-weight: 300;
    }

    &-text {
      display: inline-block;
      position: relative;
      margin: 0 0 0 -30px;
      padding: 20px 0;
      background: #ffffff;
      color: #292929;
      font-size: 20px;
      font-weight: 300;
      z-index: 3;

      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 67px;
        height: 9px;
        bottom: 2px;
        left: 0;
        background-color: #cd2e2a;
      }
    }
  }
}

.g-home-materials {
  display: block;
  position: relative;
  width: 100%;
  padding: 85px 0 100px 0;
  background: url('../images/bg_pattern.png') no-repeat center top;
  background-size: cover;

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: calc((100vw - 1200px) / 2 - 15px);
    width: 1px;
    height: 100%;
    background: #4a649b;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 50px;
  }

  &__title {
    display: block;
    width: 100%;
    max-width: 450px;
    position: relative;
    margin: 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 10px;
      left: -30px;
      width: 9px;
      height: 31px;
      background-color: #cd2e2a;
    }
  }

  &__button {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 15px 26px 15px 35px;
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;

    &-arrow {
      display: block;
      position: absolute;
      left: -15px;
      top: 50%;
      margin-top: -6px;
      background-color: #004d86;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      padding: 15px 6px 15px 55px;
      background: #ffffff;
      color: #cd2e2a;
      text-decoration: none;

      .g-home-materials__button-arrow {
        left: 6px;
        background: transparent;
      }
    }
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 100%;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 390px;
    min-height: 240px;
    margin: -1px 0 0 -1px;
    border: 1px solid #4a649b;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      text-decoration: none;

      .g-home-materials__card-content {
        background-image: linear-gradient(to top, rgba(23, 23, 23, 0.54) 0%, rgba(18, 18, 18, 0) 100%);
      }

      .g-home-materials__card-plus {
        top: calc(100% - 75px);
        background: transparent;
      }

      .g-home-materials__card-icon {
        opacity: 0;
      }
    }

    &:not(:hover) {
      background: transparent !important;
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 36px 100px 36px 40px;
      transition: all 0.2s ease-out;
      /* background-image: linear-gradient(to top, rgba(23, 23, 23, 0.54) 0%, rgba(18, 18, 18, 0) 100%); */
    }

    &-title {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      min-height: 54px;
      margin: 36px 0 0 0;
      color: #ffffff;
      line-height: 1.5;
      font-size: 18px;
      transition: all 0.2s ease-out;
      font-weight: 700;
    }

    &-icon {
      display: block;
      max-width: 80px;
      max-height: 80px;
      transition: all 0.2s ease-out;
    }

    &-plus {
      display: block;
      position: absolute;
      top: 40px;
      right: 40px;
      transition: all 0.2s ease-out;
    }
  }
}

.g-home-projects {
  display: block;
  position: relative;
  width: 100%;
  padding: 125px 0 90px 0;
  background: #f5f6f8;

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: calc((100vw - 1200px) / 2 - 15px);
    width: 1px;
    height: 100%;
    background: #d8dce5;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 75px;
  }

  &__title {
    display: block;
    width: 100%;
    max-width: 450px;
    position: relative;
    margin: 0;
    color: #292929;
    font-size: 40px;
    font-weight: 700;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 10px;
      left: -30px;
      width: 9px;
      height: 31px;
      background-color: #cd2e2a;
    }
  }

  &__button {
    display: inline-block;
    position: relative;
    margin: 0 40px 0 0;
    padding: 15px 26px 15px 35px;
    border: 1px solid #d8dce5;
    background: transparent;
    color: #292929;
    font-size: 20px;
    font-weight: 700;

    &-arrow {
      display: block;
      position: absolute;
      left: -15px;
      top: 50%;
      margin-top: -6px;
      background-color: #f5f6f8;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      padding: 15px 6px 15px 55px;
      border-color: #cd2e2a;
      background: #cd2e2a;
      color: #ffffff;
      text-decoration: none;

      .g-home-projects__button-arrow {
        filter: brightness(0) invert(1);
        left: 6px;
        background: transparent;
      }
    }
  }

  &__prev {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 55px;
    height: 55px;
    margin-left: 10px;
    padding: 4px;
    border: 1px solid #d8dce5;
    outline: none;
    background-color: transparent;

    img {
      max-width: 12px;
      max-height: 12px;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: #cd2e2a;
      background: #cd2e2a;
      color: #ffffff;
      text-decoration: none;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 55px;
    height: 55px;
    margin-left: 10px;
    padding: 4px;
    border: 1px solid #d8dce5;
    outline: none;
    background-color: transparent;

    img {
      max-width: 12px;
      max-height: 12px;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: #cd2e2a;
      background: #cd2e2a;
      color: #ffffff;
      text-decoration: none;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding-left: calc((100vw - 1200px) / 2);
    padding-bottom: 60px;
  }

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    height: 520px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.95);
      text-decoration: none;

      img {
        filter: brightness(0) invert(1);
      }
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 100%;
      padding: 40px 50px;
      min-height: 325px;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    }

    &-place {
      display: flex;
      align-items: center;
      margin: 0 0 26px 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;

      img {
        margin-right: 12px;
      }
    }

    &-title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 25px;
      font-weight: 700;
    }
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 5px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 15px;
    padding: 0;
    border-radius: 999rem;
    opacity: 1;
    background-color: #d8dce5;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 15px;
    padding: 0;
  }

  .swiper-pagination-bullet-active {
    background: #cd2e2a;
    box-shadow: 0 0 0 4px rgba(205, 45, 42, 0.4);
  }
}

.g-home-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0;

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: calc((100vw - 1200px) / 2 - 15px);
    width: 1px;
    height: 100%;
    background: #d8dce5;
  }

  &__title {
    display: block;
    width: 100%;
    max-width: 450px;
    position: relative;
    margin: 0 0 16px 0;
    color: #292929;
    font-size: 30px;
    font-weight: 700;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 7px;
      left: -30px;
      width: 9px;
      height: 20px;
      background-color: #cd2e2a;
    }
  }

  &__form {
    display: block;
    position: relative;
    width: 100%;
    border: 1px solid #d8dce5;

    &-title {
      display: block;
      margin: 0;
      padding: 50px 60px 49px 60px;
      color: #292929;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }

    &-input {
      display: block;
      position: relative;
      width: 100%;
      border-bottom: 1px solid #d8dce5;

      input {
        display: block;
        position: relative;
        width: 100%;
        border: 0;
        outline: none;
        padding: 26px 110px;
        color: #292929;
        font-size: 16px;
        font-weight: 300;
      }
    }

    &-icon {
      display: block;
      position: absolute;
      left: 60px;
      top: 50%;
      margin-top: -9px;
      z-index: 1;
    }
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 65px 60px;
    border-bottom: 1px solid #d8dce5;
  }

  &__button {
    display: inline-block;
    padding: 18px 42px;
    border: 1px solid #cd2e2a;
    background-color: transparent;
    color: #292929;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #cd2e2a;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__info {
    display: inline-block;
    margin: 0 0 0 55px;
    color: #292929;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.3;
  }

  &__download {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 30px 20px;
    color: #cd2e2a;
    font-size: 20px;
    font-weight: 700;

    img {
      margin-right: 20px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.95);
      color: #cd2e2a;
      text-decoration: none;
    }
  }

  &__catalog {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 50px 0 0 0;
    right: -50px;
    border: 1px solid #d8dce5;

    &-image {
      display: block;
      position: relative;
      width: 100%;
      height: 470px;
      margin: -50px 0 0 -50px;
      background-position: center center;
      background-size: cover;
      z-index: 1;
    }

    &-content {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 40px 50px 40px 20px;
    }

    &-title {
      display: block;
      position: relative;
      margin: 0 0 4px 0;
      color: #292929;
      font-size: 30px;
      font-weight: 700;

      &:before {
        display: block;
        position: absolute;
        content: '';
        top: 7px;
        left: -30px;
        width: 9px;
        height: 20px;
        background-color: #cd2e2a;
      }
    }

    &-subtitle {
      display: block;
      margin: 0;
      color: #292929;
      font-size: 30px;
      font-weight: 300;
    }

    &-button {
      display: inline-block;
      padding: 18px 40px;
      border: 1px solid #cd2e2a;
      background-color: transparent;
      color: #292929;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background-color: #cd2e2a;
        color: #ffffff;
        text-decoration: none;
      }
    }

    &-info {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 100%;
      right: -1px;
      width: 100px;
      height: 100px;
      padding: 10px;
      background: #cd2e2a;

      img {
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 15px;
      }
    }
  }
}

.g-home-where {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 70px 0;

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: calc((100vw - 1200px) / 2 - 15px);
    width: 1px;
    height: 100%;
    background: #d8dce5;
  }

  &__title {
    display: block;
    width: 100%;
    position: relative;
    margin: 0 0 30px 0;
    color: #292929;
    font-size: 40px;
    font-weight: 700;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 10px;
      left: -30px;
      width: 9px;
      height: 31px;
      background-color: #cd2e2a;
    }
  }

  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    min-height: 355px;
    right: -10px;
    bottom: -10px;
    margin-bottom: 30px;
    border: 1px solid #d8dce5;
    background-color: #ffffff;

    &__image {
      display: block;
      position: relative;
      width: 100%;
      height: 270px;
      left: -10px;
      top: -10px;
      background-position: center center;
      background-size: cover;
    }

    &__title {
      display: block;
      margin: 0;
      padding: 6px 20px 4px 20px;
      color: #1b1b1b;
      font-size: 18px;
      font-weight: 700;
    }

    &__number {
      display: block;
      position: absolute;
      width: 31px;
      height: 83px;
      right: 100%;
      bottom: 10px;
      background-color: #cd2e2a;
      overflow: hidden;

      &-this {
        display: block;
        position: absolute;
        top: -5px;
        left: -3px;
        opacity: 0.5;
        color: #ffffff;
        font-size: 32px;
        font-weight: 700;
        line-height: 1;
      }
    }
  }
}

.g-home-partners {
  display: block;
  position: relative;
  width: 100%;
  padding: 85px 0 30px 0;
  background: url('../images/bg_pattern_light.png') no-repeat center top;
  background-size: cover;

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: calc((100vw - 1200px) / 2 - 15px);
    width: 1px;
    height: 100%;
    background: #d8dce5;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 110px;
  }

  &__title {
    display: block;
    width: 100%;
    max-width: 450px;
    position: relative;
    margin: 0;
    color: #292929;
    font-size: 40px;
    font-weight: 700;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 10px;
      left: -30px;
      width: 9px;
      height: 31px;
      background-color: #cd2e2a;
    }
  }

  &__button {
    display: inline-block;
    position: relative;
    margin: 0 40px 0 0;
    padding: 15px 26px 15px 35px;
    border: 1px solid #d8dce5;
    background: transparent;
    color: #292929;
    font-size: 20px;
    font-weight: 700;

    &-arrow {
      display: block;
      position: absolute;
      left: -15px;
      top: 50%;
      margin-top: -6px;
      background-color: #f2f3f5;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      padding: 15px 6px 15px 55px;
      border-color: #cd2e2a;
      background: #cd2e2a;
      color: #ffffff;
      text-decoration: none;

      .g-home-partners__button-arrow {
        filter: brightness(0) invert(1);
        left: 6px;
        background: transparent;
      }
    }
  }

  &__prev {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 55px;
    height: 55px;
    margin-left: 10px;
    padding: 4px;
    border: 1px solid #d8dce5;
    outline: none;
    background-color: transparent;

    img {
      max-width: 12px;
      max-height: 12px;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: #cd2e2a;
      background: #cd2e2a;
      color: #ffffff;
      text-decoration: none;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 55px;
    height: 55px;
    margin-left: 10px;
    padding: 4px;
    border: 1px solid #d8dce5;
    outline: none;
    background-color: transparent;

    img {
      max-width: 12px;
      max-height: 12px;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: #cd2e2a;
      background: #cd2e2a;
      color: #ffffff;
      text-decoration: none;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 auto 80px auto;
    padding: 10px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.g-home-articles {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 0;

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: calc((100vw - 1200px) / 2 - 15px);
    width: 1px;
    height: 100%;
    background: #d8dce5;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 45px;
  }

  &__title {
    display: block;
    width: 100%;
    max-width: 450px;
    position: relative;
    margin: 0;
    color: #292929;
    font-size: 40px;
    font-weight: 700;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 10px;
      left: -30px;
      width: 9px;
      height: 31px;
      background-color: #cd2e2a;
    }
  }

  &__button {
    display: inline-block;
    position: relative;
    margin: 0 40px 0 0;
    padding: 15px 26px 15px 35px;
    border: 1px solid #d8dce5;
    background: transparent;
    color: #292929;
    font-size: 20px;
    font-weight: 700;

    &-arrow {
      display: block;
      position: absolute;
      left: -15px;
      top: 50%;
      margin-top: -6px;
      background-color: #ffffff;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      padding: 15px 6px 15px 55px;
      border-color: #cd2e2a;
      background: #cd2e2a;
      color: #ffffff;
      text-decoration: none;

      .g-home-articles__button-arrow {
        filter: brightness(0) invert(1);
        left: 6px;
        background: transparent;
      }
    }
  }

  &__prev {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 55px;
    height: 55px;
    margin-left: 10px;
    padding: 4px;
    border: 1px solid #d8dce5;
    outline: none;
    background-color: transparent;

    img {
      max-width: 12px;
      max-height: 12px;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: #cd2e2a;
      background: #cd2e2a;
      color: #ffffff;
      text-decoration: none;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 55px;
    height: 55px;
    margin-left: 10px;
    padding: 4px;
    border: 1px solid #d8dce5;
    outline: none;
    background-color: transparent;

    img {
      max-width: 12px;
      max-height: 12px;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: #cd2e2a;
      background: #cd2e2a;
      color: #ffffff;
      text-decoration: none;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding: 55px 0 75px 0;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 500px;
    border: 1px solid #d8dce5;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #ffffff;
      text-decoration: none;

      .g-home-articles__card-arrow {
        width: 38px;
      }
    }

    &-category {
      display: block;
      position: absolute;
      bottom: 100%;
      left: 0;
      margin: 0;
      padding: 4px 30px 28px 25px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      background-color: #cd2e2a;
    }

    &-image {
      display: block;
      position: relative;
      width: 100%;
      height: 300px;
      top: -25px;
      right: -25px;
      background-position: center center;
      background-size: cover;
      background-color: #ffffff;
      z-index: 1;
    }

    &-content {
      display: block;
      position: relative;
      width: 100%;
      padding: 5px 35px 30px 35px;
    }

    &-title {
      display: block;
      height: 60px;
      overflow: hidden;
      margin: 0 0 10px 0;
      color: #1b1b1b;
      font-size: 25px;
      font-weight: 700;
    }

    &-text {
      display: block;
      height: 144px;
      overflow: hidden;
      margin: 0 0 35px 0;
      color: #292929;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }

    &-link {
      display: flex;
      align-items: center;
      color: #cd2e2a;
      font-size: 20px;
      font-weight: 700;
    }

    &-arrow {
      display: inline-block;
      width: 7px;
      height: 10px;
      margin-left: 10px;
      background: url('../images/icon_arrow_right_long.png') no-repeat right center;
      transition: all 0.2s ease-out;
    }
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 5px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 15px;
    padding: 0;
    border-radius: 999rem;
    opacity: 1;
    background-color: #d8dce5;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 15px;
    padding: 0;
  }

  .swiper-pagination-bullet-active {
    background: #cd2e2a;
    box-shadow: 0 0 0 4px rgba(205, 45, 42, 0.4);
  }
}

.g-home-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0 150px 0;

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: calc((100vw - 1200px) / 2 - 15px);
    width: 1px;
    height: 100%;
    background: #d8dce5;
  }

  &__title {
    display: block;
    width: 100%;
    position: relative;
    margin: 0 0 50px 0;
    color: #292929;
    font-size: 40px;
    font-weight: 700;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 10px;
      left: -30px;
      width: 9px;
      height: 31px;
      background-color: #cd2e2a;
    }
  }

  &__content {
    display: block;
    width: 100%;
    max-width: 410px;
    color: #292929;
    font-size: 16px;
    font-weight: 300;

    p {
      display: block;
      margin: 0;
      line-height: 1.5;
    }

    a {
      color: #cd2e2a;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #cd2e2a;
        text-decoration: none;
      }
    }

    ul {
      display: block;
      margin: 20px 0 25px 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        padding-left: 45px;
        color: #1d1d1d;
        font-size: 16px;
        font-weight: 400;

        &:before {
          display: block;
          position: absolute;
          content: '—';
          left: 20px;
          top: 0;
          color: #cd2e2a;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }
  }

  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 625px;
    height: 485px;
    border: 1px solid #d8dce5;
    background-color: #ffffff;

    &-this {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      top: 50px;
      right: -50px;
      background-position: center center;
      background-size: cover;
    }

    &-category {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 100%;
      top: -1px;
      width: 100px;
      height: 100px;
      padding: 10px;
      background: #cd2e2a;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.g-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 120px 0 100px;
  background: url('../images/footer_bg.png') no-repeat center top;
  background-size: cover;

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: calc((100vw - 1200px) / 2 - 15px);
    width: 1px;
    height: 100%;
    background: #4a649b;
  }

  &__logo {
    display: block;
    margin-bottom: 30px;

    img {
      max-width: 240px;
      max-height: 85px;
    }
  }

  &__social {
    display: block;

    &-title {
      display: block;
      margin: 0;
      opacity: 0.5;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
    }

    &-link {
      display: inline-block;
      padding: 18px 20px 20px 0;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        transform: scale(0.95);
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

  &__category {
    display: block;
    margin: 6px 0 26px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #cd2e2a;
      text-decoration: none;
    }
  }

  &__nav {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;

    li {
      display: block;

      a {
        display: block;
        margin: 0 0 10px 0;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #cd2e2a;
          text-decoration: none;
        }
      }
    }
  }

  &__policy {
    display: block;
    margin: 32px 0 45px 0;
    opacity: 0.5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 1;
      color: #cd2e2a;
      text-decoration: none;
    }
  }

  &__creators {
    display: block;
    margin: 0;
    opacity: 0.5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 1;
      color: #cd2e2a;
      text-decoration: none;
    }
  }
}

.g-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }

  &__close {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 620px;
    margin: 10px 0;
    padding: 20px;
    background: #004d86;
  }

  &__form {
    display: block;
    position: relative;
    width: 100%;
    border: 1px solid #d8dce5;

    &-title {
      display: block;
      margin: 0;
      padding: 65px 60px 18px 60px;
      color: #ffffff;
      font-size: 30px;
      font-weight: 700;
    }

    &-subtitle {
      display: block;
      margin: 0;
      padding: 0 60px 70px 60px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }

    &-input {
      display: block;
      position: relative;
      width: 100%;
      border-bottom: 1px solid #d8dce5;

      input {
        display: block;
        position: relative;
        width: 100%;
        border: 0;
        outline: none;
        padding: 26px 110px;
        background: transparent;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
      }
    }

    &-icon {
      display: block;
      position: absolute;
      left: 60px;
      top: 50%;
      margin-top: -9px;
      z-index: 1;
    }
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 65px 60px;
  }

  &__button {
    display: inline-block;
    padding: 18px 42px;
    border: 1px solid #cd2e2a;
    background-color: #cd2e2a;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #ff5653;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__info {
    display: inline-block;
    margin: 0 0 0 55px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.3;
  }

  ::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

.g-breadcrumps {
  display: block;
  position: relative;
  width: 100%;
  padding: 7px 0;
  background: #004d86;

  &__this {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;

    li {
      display: inline-block;
    }

    a {
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.g-page {
  display: block;
  position: relative;
  width: 100%;
  padding: 75px 0 30px 0;

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: calc((100vw - 1200px) / 2 - 15px);
    width: 1px;
    height: 100%;
    background: #d8dce5;
  }

  &__title {
    display: block;
    width: 100%;
    position: relative;
    margin: 0 0 50px 0;
    color: #292929;
    font-size: 40px;
    font-weight: 700;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 8px;
      left: -30px;
      width: 9px;
      height: 28px;
      background-color: #cd2e2a;
    }
  }
}

.g-help {
  display: block;
  position: relative;
  width: 100%;

  &__category {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    min-height: 55px;
    margin: 0 auto 100px auto;
    padding: 4px 50px;
    border: 1px solid #d8dce5;
    background-color: #ffffff;
    color: #292929;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

    &-icon {
      display: inline-block;
      position: absolute;
      max-width: 20px;
      max-height: 20px;
      left: 20px;
      top: 50%;
      margin-top: -10px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #f5f6f8;
      color: #292929;
      text-decoration: none;
    }
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;

    .g-home-articles__card {
      margin-bottom: 100px;
    }
  }
}

.g-pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0 0 70px 0;
  list-style: none;

  &_disabled {
    pointer-events: none;

    span,
    img {
      opacity: 0.5;
    }
  }

  &_active {
    a {
      color: #cd2e2a !important;
    }
  }

  li {
    display: inline-block;
    transition: all 0.2s ease-out;

    &:hover {
      img {
        filter: brightness(0) invert(1);
      }
    }

    img {
      transition: all 0.2s ease-out;
    }

    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-left: -1px;
      padding: 4px;
      min-width: 50px;
      height: 50px;
      border: 1px solid #d8dce5;
      background-color: #ffffff;
      color: #292929;
      font-size: 16px;
      font-weight: 700;
      text-align: center;

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        border-color: #cd2e2a;
        background: #cd2e2a;
        color: #ffffff !important;
        text-decoration: none;
        z-index: 1;
      }
    }
  }
}

.g-category {
  display: block;
  position: relative;
  width: 100%;

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 100%;
    padding-bottom: 50px;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 390px;
    min-height: 240px;
    margin: -1px 0 0 -1px;
    border: 1px solid #d8dce5;
    background-position: left 20px top 5px;
    background-repeat: no-repeat;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: #cd2e2a;
      text-decoration: none;
      z-index: 1;

      .g-category__card-title {
        color: #cd2e2a;
      }

      .g-category__card-plus {
        top: calc(100% - 60px);
        background: transparent;
        opacity: 1;
        filter: none;
      }
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 20px 40px;
      transition: all 0.2s ease-out;
    }

    &-title {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      min-height: 54px;
      margin: 0;
      color: #292929;
      line-height: 1.5;
      font-size: 18px;
      font-weight: 700;
      transition: all 0.2s ease-out;
    }

    &-plus {
      display: block;
      position: absolute;
      top: 40px;
      right: 40px;
      filter: grayscale(1);
      opacity: 0.3;
      transition: all 0.2s ease-out;
    }
  }
}

.g-catalog {
  display: block;
  position: relative;
  width: 100%;

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 100%;
    padding-bottom: 80px;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 390px;
    min-height: 240px;
    margin: -1px 0 0 -1px;
    border: 1px solid #d8dce5;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      text-decoration: none;

      .g-catalog__card-content {
        background-image: linear-gradient(to top, rgba(23, 23, 23, 0.54) 0%, rgba(18, 18, 18, 0) 100%);
      }

      .g-catalog__card-title {
        color: #ffffff;
      }

      .g-catalog__card-plus {
        top: calc(100% - 60px);
        background: transparent;
        opacity: 1;
        filter: brightness(100);
      }

      .g-catalog__card-icon {
        opacity: 0;
      }
    }

    &:not(:hover) {
      background: transparent !important;
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 20px 100px 20px 40px;
      transition: all 0.2s ease-out;
      /* background-image: linear-gradient(to top, rgba(23, 23, 23, 0.54) 0%, rgba(18, 18, 18, 0) 100%); */
    }

    &-title {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      min-height: 54px;
      margin: 36px 0 0 0;
      color: #292929;
      line-height: 1.5;
      font-size: 18px;
      transition: all 0.2s ease-out;
      font-weight: 700;
    }

    &-icon {
      display: block;
      max-width: 80px;
      max-height: 80px;
      transition: all 0.2s ease-out;
    }

    &-plus {
      display: block;
      position: absolute;
      top: 40px;
      right: 40px;
      filter: grayscale(1);
      opacity: 0.3;
      transition: all 0.2s ease-out;
    }
  }
}

.g-goods {
  display: block;
  position: relative;
  width: 100%;

  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
  }

  &__filter {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    position: relative;

    &-button {
      display: inline-block;
      padding: 15px 22px;
      border: 1px solid #cd2e2a;
      outline: none;
      background-color: #cd2e2a;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background: #ff5653;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

  &__select {
    display: inline-block;
    position: relative;
    width: 244px;
    margin-right: -1px;
    padding-right: 15px;
    border: 1px solid #d8dce5;
    background-color: #ffffff;

    select {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 16px 2px 16px 20px;
      border: 0;
      outline: none;
      box-shadow: none;
      color: #292929;
      font-size: 16px;
      font-weight: 400;
    }
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 100%;
    padding-bottom: 50px;
  }

  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 293px;
    margin: -1px 0 0 -1px;
    padding: 0 40px 45px 40px;
    border: 1px solid #d8dce5;
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: #cd2e2a;
      z-index: 1;
      text-decoration: none;
    }

    a {
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        text-decoration: none;
      }
    }

    &-image {
      display: block;
      position: relative;
      width: 100%;
      height: 200px;
      background-position: center top 5px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &-title {
      display: block;
      margin: 0 0 20px 0;
      color: #292929;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #cd2e2a;
        text-decoration: none;
      }
    }

    &-text {
      display: block;
      margin: 0 0 40px 0;
      opacity: 0.5;
      color: #292929;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }

    &-price {
      display: block;
      margin: 0 0 18px 0;
      color: #292929;
      font-size: 18px;
      font-weight: 300;

      b,
      strong {
        color: #cd2e2a;
        font-weight: 700;
      }
    }

    &-row {
      display: flex;
      align-items: stretch;
      position: relative;
      width: 100%;
    }

    &-counter {
      display: block;
      position: relative;
      flex: 1 1 50%;

      input {
        display: block;
        width: 100%;
        padding: 9px 25px;
        border: 1px solid #cd2e2a;
        outline: none;
        background-color: transparent;
        color: #292929;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
      }
    }

    &-plus {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 12px;
      height: 12px;
      right: 10px;
      top: 50%;
      margin-top: -8px;
      object-fit: contain;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        filter: brightness(0.1);
        text-decoration: none;
      }
    }

    &-minus {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 12px;
      height: 12px;
      left: 10px;
      top: 50%;
      margin-top: -8px;
      object-fit: contain;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        filter: brightness(0.1);
        text-decoration: none;
      }
    }

    &-button {
      display: block;
      position: relative;
      flex: 1 1 50%;
      padding: 9px 4px;
      border: 0;
      outline: none;
      background-color: #cd2e2a;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background: #ff5653;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.g-article {
  display: block;
  position: relative;
  width: 100%;

  &__big {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1070px;
    height: 550px;
    margin: 0 0 150px 100px;
    border: 1px solid #d8dce5;
    background-color: #ffffff;

    &-this {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      margin: 50px 0 0 -50px;
      background-position: center center;
      background-size: cover;
      z-index: 1;
    }

    &-info {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 100%;
      top: -1px;
      width: 100px;
      height: 100px;
      padding: 10px;
      background: #cd2e2a;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;

    p {
      display: block;
      margin: 0 0 30px 0;
      color: #292929;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      position: relative;
      margin: 0;
      color: #292929;
      font-weight: 700;

      &:before {
        display: block;
        position: absolute;
        content: '';
        top: 10%;
        left: -30px;
        width: 9px;
        height: calc(100% / 1.5);
        ;
        background-color: #cd2e2a;
      }
    }

    h2 {
      margin: 0 0 18px 0;
      font-size: 30px;
    }

    h3 {
      margin: 0 0 18px 0;
      font-size: 24px;
    }

    h4 {
      font-size: 20px;
    }

    h5 {
      font-size: 16px;
    }

    h6 {
      font-size: 12px;
    }

    a {
      color: #cd2e2a;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #cd2e2a;
        text-decoration: none;
      }
    }

    ul {
      display: block;
      margin: 20px 0 25px 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        padding-left: 38px;
        color: #1d1d1d;
        font-size: 16px;
        font-weight: 400;

        &:before {
          display: block;
          position: absolute;
          content: '—';
          left: 20px;
          top: 0;
          color: #cd2e2a;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }

    blockquote {
      display: block;
      position: relative;
      width: 100%;
      margin: 20px 0 50px 0;
      padding: 55px 60px 50px 35px;
      border: 0;
      background: #f5f6f8;
      color: #292929;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      font-style: italic;

      &:before {
        display: block;
        position: absolute;
        content: '';
        top: 0;
        left: -30px;
        width: 9px;
        height: 100%;
        background-color: #cd2e2a;
      }

      &:after {
        display: block;
        position: absolute;
        content: '';
        top: 0;
        left: -20px;
        width: 20px;
        height: 100%;
        background-color: #f5f6f8;
      }
    }

    figure {
      display: block;
      position: relative;
      width: 100%;
      margin: 20px 0 40px 0;

      img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }

      figcaption {
        display: block;
        padding-top: 20px;
        opacity: 0.5;
        color: #292929;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
      }
    }

    .table thead th {
      border-bottom: 0;
    }

    .table tbody td {
      text-align: center;
    }

    .table tbody td:first-child {
      text-align: left;
    }

    .table tbody td:last-child {
      text-align: right;
    }

    .table th,
    .table td {
      padding: 21px 26px;
      color: #292929;
      font-size: 18px;
      font-weight: 300;
    }

    .table thead th {
      position: relative;
      bottom: -1px;
      padding: 21px 26px;
      background: #f5f6f8;
      color: #292929;
      font-size: 18px;
      font-weight: 700;
      text-align: center;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}

.g-about {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 30px;

  &__big {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1070px;
    height: 550px;
    margin: 0 0 150px 100px;
    border: 1px solid #d8dce5;
    background-color: #ffffff;

    &-this {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      margin: 50px 0 0 -50px;
      background-position: center center;
      background-size: cover;
      z-index: 1;
    }

    &-info {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 100%;
      top: -1px;
      width: 100px;
      height: 100px;
      padding: 10px;
      background: #cd2e2a;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    height: 370px;
    background-position: center center;
    background-size: cover;
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 40px;

    p {
      display: block;
      margin: 0 0 30px 0;
      color: #292929;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      position: relative;
      margin: 0;
      color: #292929;
      font-weight: 700;

      &:before {
        display: block;
        position: absolute;
        content: '';
        top: 10%;
        left: -30px;
        width: 9px;
        height: calc(100% / 1.5);
        ;
        background-color: #cd2e2a;
      }
    }

    h2 {
      margin: 0 0 18px 0;
      font-size: 30px;
    }

    h3 {
      margin: 0 0 18px 0;
      font-size: 24px;
    }

    h4 {
      font-size: 20px;
    }

    h5 {
      font-size: 16px;
    }

    h6 {
      font-size: 12px;
    }

    a {
      color: #cd2e2a;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #cd2e2a;
        text-decoration: none;
      }
    }

    ul {
      display: block;
      margin: 20px 0 25px 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        padding-left: 38px;
        color: #1d1d1d;
        font-size: 16px;
        font-weight: 400;

        &:before {
          display: block;
          position: absolute;
          content: '—';
          left: 20px;
          top: 0;
          color: #cd2e2a;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }
  }
}

.g-papers {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0 60px 0;
  background: #ffffff;

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: calc((100vw - 1200px) / 2 - 15px);
    width: 1px;
    height: 100%;
    background: #d8dce5;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 75px;
  }

  &__title {
    display: block;
    width: 100%;
    max-width: 450px;
    position: relative;
    margin: 0;
    color: #292929;
    font-size: 40px;
    font-weight: 700;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 10px;
      left: -30px;
      width: 9px;
      height: 31px;
      background-color: #cd2e2a;
    }
  }

  &__button {
    display: inline-block;
    position: relative;
    margin: 0 40px 0 0;
    padding: 15px 26px 15px 35px;
    border: 1px solid #d8dce5;
    background: transparent;
    color: #292929;
    font-size: 20px;
    font-weight: 700;

    &-arrow {
      display: block;
      position: absolute;
      left: -15px;
      top: 50%;
      margin-top: -6px;
      background-color: #ffffff;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      padding: 15px 6px 15px 55px;
      border-color: #cd2e2a;
      background: #cd2e2a;
      color: #ffffff;
      text-decoration: none;

      .g-papers__button-arrow {
        filter: brightness(0) invert(1);
        left: 6px;
        background: transparent;
      }
    }
  }

  &__prev {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 55px;
    height: 55px;
    margin-left: 10px;
    padding: 4px;
    border: 1px solid #d8dce5;
    outline: none;
    background-color: transparent;

    img {
      max-width: 12px;
      max-height: 12px;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: #cd2e2a;
      background: #cd2e2a;
      color: #ffffff;
      text-decoration: none;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 55px;
    height: 55px;
    margin-left: 10px;
    padding: 4px;
    border: 1px solid #d8dce5;
    outline: none;
    background-color: transparent;

    img {
      max-width: 12px;
      max-height: 12px;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: #cd2e2a;
      background: #cd2e2a;
      color: #ffffff;
      text-decoration: none;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 90px;
  }

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 250px;
    height: 350px;
    border: 1px solid #d8dce5;
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      text-decoration: none;

      .g-papers__card-content {
        opacity: 1;
      }
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 100%;
      top: -1px;
      width: 50px;
      height: 50px;
      padding: 10px;
      background: #cd2e2a;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-image {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      left: 25px;
      top: 25px;
      background-color: #ffffff;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &-content {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      background-color: rgba(205, 45, 42, 0.8);
      opacity: 0;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.95);
      text-decoration: none;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 5px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 15px;
    padding: 0;
    border-radius: 999rem;
    opacity: 1;
    background-color: #d8dce5;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 15px;
    padding: 0;
  }

  .swiper-pagination-bullet-active {
    background: #cd2e2a;
    box-shadow: 0 0 0 4px rgba(205, 45, 42, 0.4);
  }
}

.g-object {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 30px;

  &__cards {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    position: relative;
    width: 100%;
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    margin: -1px 0 0 -1px;
    padding: 50px 50px 40px 20px;
    border: 1px solid #d8dce5;
    background-color: #ffffff;

    &-title {
      display: block;
      position: relative;
      margin: 0 0 22px 0;
      color: #292929;
      font-size: 24px;
      font-weight: 700;

      &:before {
        display: block;
        position: absolute;
        content: '';
        top: 10%;
        left: -30px;
        width: 9px;
        height: calc(100% / 1.5);
        ;
        background-color: #cd2e2a;
      }
    }

    p {
      display: block;
      margin: 0;
      color: #292929;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }

    &-colored {
      display: block;
      margin: 0 0 18px 0 !important;
      color: #cd2e2a !important;
      font-size: 16px;
      font-weight: 300;
    }
  }

  &__big {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1070px;
    margin: 0 0 100px 100px;
    padding: 50px 0 150px 0;
    border: 1px solid #d8dce5;
    background-color: #ffffff;

    &-this {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      margin: 50px 0 0 -50px;
      background-position: center center;
      background-size: cover;
      z-index: 1;
    }

    &-info {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 100%;
      top: -1px;
      width: 100px;
      height: 100px;
      padding: 10px;
      background: #cd2e2a;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-cards {
      display: block;
      position: relative;
      width: 100%;
      left: -50px;
    }

    &-card {
      display: block;
      position: relative;
      width: 100%;
      height: 550px;
      background-position: center center;
      background-size: cover;
    }


    &-prev {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 55px;
      height: 55px;
      bottom: 50px;
      left: 50px;
      padding: 4px;
      border: 1px solid #d8dce5;
      outline: none;
      background-color: transparent;
      z-index: 11;

      img {
        max-width: 12px;
        max-height: 12px;
        transition: all 0.2s ease-out;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        border-color: #cd2e2a;
        background: #cd2e2a;
        color: #ffffff;
        text-decoration: none;

        img {
          filter: brightness(0) invert(1);
        }
      }
    }

    &-next {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 55px;
      height: 55px;
      bottom: 50px;
      left: 115px;
      padding: 4px;
      border: 1px solid #d8dce5;
      outline: none;
      background-color: transparent;
      z-index: 11;

      img {
        max-width: 12px;
        max-height: 12px;
        transition: all 0.2s ease-out;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        border-color: #cd2e2a;
        background: #cd2e2a;
        color: #ffffff;
        text-decoration: none;

        img {
          filter: brightness(0) invert(1);
        }
      }
    }

    .swiper-pagination {
      width: calc(100% - 50px);
      bottom: 65px;
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      margin: 0 15px;
      padding: 0;
      outline: none;
      border-radius: 999rem;
      opacity: 1;
      background-color: #d8dce5;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 15px;
      padding: 0;
    }

    .swiper-pagination-bullet-active {
      background: #cd2e2a;
      box-shadow: 0 0 0 4px rgba(205, 45, 42, 0.4);
    }
  }
}

.g-item {
  &__main {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1070px;
    margin: 0 0 50px 100px;
    padding: 50px 0;
    border: 1px solid #d8dce5;
    background-color: #ffffff;

    .g-page__title {
      height: 192px;
      overflow: hidden;
      margin-bottom: 32px;
    }

    &-wrapper {
      position: relative;
      left: -50px;
    }

    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 500px;
      height: 400px;
      border: 1px solid #cd2e2a;
      background-color: #ffffff;
      z-index: 1;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-info {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 100%;
      top: -1px;
      width: 100px;
      height: 100px;
      padding: 10px;
      background: #cd2e2a;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-content {
      padding-left: 25px;
    }

    &-price {
      display: block;
      margin: 0 0 18px 0;
      color: #292929;
      font-size: 20px;
      font-weight: 300;

      b,
      strong {
        color: #cd2e2a;
        font-size: 30px;
        font-weight: 700;
      }
    }

    &-row {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      align-items: stretch;
      position: relative;
      width: 100%;
    }

    &-counter {
      display: block;
      position: relative;
      width: 100%;
      max-width: 190px;
      margin-bottom: 30px;

      input {
        display: block;
        width: 100%;
        padding: 10px 45px;
        border: 1px solid #d8dce5;
        outline: none;
        background-color: transparent;
        color: #292929;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
      }
    }

    &-plus {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 46px;
      height: 46px;
      right: 0;
      top: 0;
      border: 1px solid #d8dce5;
      object-fit: scale-down;
      object-position: center center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        filter: brightness(0.1);
        text-decoration: none;
      }
    }

    &-minus {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 46px;
      height: 46px;
      left: 0;
      top: 0;
      border: 1px solid #d8dce5;
      object-fit: scale-down;
      object-position: center center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        filter: brightness(0.1);
        text-decoration: none;
      }
    }

    &-button {
      display: inline-block;
      position: relative;
      min-width: 190px;
      padding: 10px 4px;
      border: 1px solid #cd2e2a;
      outline: none;
      background-color: #cd2e2a;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background: #ff5653;
        color: #ffffff;
        text-decoration: none;
      }
    }

    &-link {
      display: inline-block;
      position: relative;
      min-width: 280px;
      padding: 9px 4px;
      border: 1px solid #cd2e2a;
      outline: none;
      background-color: transparent;
      color: #292929;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background: #cd2e2a;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.g-tabs {
  display: block;
  position: relative;
  width: 100%;

  &__header {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 200vw;
      left: -100vw;
      height: 1px;
      bottom: 2px;
      background: #d8dce5;
    }

    li {
      display: inline-block;
      margin-right: 65px;
      padding: 4px 0;
      border-bottom: 3px solid transparent;
      opacity: 0.5;
      color: #292929;
      font-size: 20px;
      font-weight: 700;
      z-index: 1;

      &.current {
        border-color: #cd2e2a;
        opacity: 1;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 1;
        text-decoration: none;
      }
    }
  }

  &__content {
    display: none;
    position: relative;
    width: 100%;
    max-width: 620px;
    padding: 50px 0;
    color: #292929;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;

    &.current {
      display: block;
    }
  }
}

.g-team {
  display: block;
  position: relative;
  width: 100%;

  &__big {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1070px;
    margin: 0 0 120px 100px;
    padding: 50px 0 0 0;
    border: 1px solid #d8dce5;
    background-color: #ffffff;

    &-this {
      display: block;
      position: relative;
      width: 100%;
      height: 550px;
      margin: 0;
      left: -50px;
      background-position: center center;
      background-size: cover;
      z-index: 1;
    }

    &-info {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 100%;
      top: -1px;
      width: 100px;
      height: 100px;
      padding: 10px;
      background: #cd2e2a;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 45px 50px 25px 20px;

    &-title {
      display: block;
      position: relative;
      margin: 0 0 6px 0;
      color: #292929;
      font-size: 30px;
      font-weight: 700;

      &:before {
        display: block;
        position: absolute;
        content: '';
        top: 5px;
        left: -30px;
        width: 9px;
        height: 24px;
        background-color: #cd2e2a;
      }
    }

    &-text {
      display: block;
      margin: 0 0 8px 0;
      color: #292929;
      font-size: 20px;
      font-weight: 300;
    }

    blockquote {
      display: block;
      position: relative;
      width: 100%;
      max-width: 1000px;
      margin: 0;
      padding: 28px 70px 18px 65px;
      background: url('../images/icon_quotes.png') no-repeat 0 0;
      background-size: 100% 100%;
      color: #292929;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      font-style: italic;
    }
  }
}

.g-workers {
  display: block;
  position: relative;
  width: 100%;

  &__title {
    display: block;
    position: relative;
    margin: 0 0 65px 0;
    color: #292929;
    font-size: 30px;
    font-weight: 700;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 5px;
      left: -30px;
      width: 9px;
      height: 24px;
      background-color: #cd2e2a;
    }
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 340px;
    margin: 0 0 80px 30px;
    border: 1px solid #d8dce5;
    background-color: #ffffff;

    &-image {
      display: block;
      position: relative;
      width: 100%;
      height: 340px;
      top: -30px;
      left: -30px;
      background-position: center center;
      background-size: cover;
    }

    &-content {
      display: block;
      position: relative;
      width: 100%;
      padding: 0 10px 26px 10px;
    }

    &-title {
      display: block;
      position: relative;
      margin: 0 0 10px 0;
      color: #292929;
      font-size: 20px;
      font-weight: 700;

      &:before {
        display: block;
        position: absolute;
        content: '';
        top: 4px;
        left: -20px;
        width: 9px;
        height: 14px;
        background-color: #cd2e2a;
      }
    }

    &-text {
      display: block;
      margin: 0;
      color: #292929;
      font-size: 18px;
      font-weight: 300;
    }
  }
}

.g-basket {
  display: block;
  position: relative;
  width: 100%;

  &__header {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 16px;
    opacity: 0.5;
    color: #292929;
    font-size: 16px;
    font-weight: 400;
  }

  &__final {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    width: 100%;
    padding: 40px 0 60px 0;

    &-title {
      margin: 0;
      color: #292929;
      font-size: 30px;
      font-weight: 700;
    }

    &-price {
      margin: 0;
      color: #292929;
      font-size: 30px;
      font-weight: 300;

      b,
      strong {
        color: #cd2e2a;
        font-weight: 700;
      }
    }

    &-button {
      display: inline-block;
      margin: 35px 0 0 0;
      padding: 15px 60px;
      background-color: #cd2e2a;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background: #ff5653;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

  &-card {
    display: block;
    position: relative;
    width: 100%;
    min-height: 150px;
    margin-top: -1px;
    border: 1px solid #d8dce5;
    background-color: #ffffff;

    &__delete {
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0;
      right: 0;
      background: url('../images/icon_delete.png') no-repeat center center;
      opacity: 0.9;
      object-fit: scale-down;
      filter: grayscale(1);
      z-index: 3;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 1;
        filter: none;
        text-decoration: none;
      }
    }

    a {
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #cd2e2a;
        text-decoration: none;

        .g-basket-card__title {
          color: #cd2e2a;
        }
      }
    }

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
      padding: 5px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &__title {
      display: block;
      padding: 12px 24px;
      color: #292929;
      font-size: 18px;
      font-weight: 700;
    }

    &__price {
      display: block;
      color: #292929;
      font-size: 18px;
      font-weight: 300;
      text-align: center;

      b,
      strong {
        color: #cd2e2a;
        font-weight: 700;
      }
    }

    &__counter {
      display: block;
      position: relative;
      width: 100%;
      max-width: 190px;
      margin: 20px auto;

      input {
        display: block;
        width: 100%;
        padding: 10px 45px;
        border: 1px solid #d8dce5;
        outline: none;
        background-color: transparent;
        color: #292929;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
      }
    }

    &__plus {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 46px;
      height: 46px;
      right: 0;
      top: 0;
      border: 1px solid #d8dce5;
      object-fit: scale-down;
      object-position: center center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        filter: brightness(0.1);
        text-decoration: none;
      }
    }

    &__minus {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 46px;
      height: 46px;
      left: 0;
      top: 0;
      border: 1px solid #d8dce5;
      object-fit: scale-down;
      object-position: center center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        filter: brightness(0.1);
        text-decoration: none;
      }
    }
  }
}

.g-contacts {
  display: block;
  position: relative;
  width: 100%;

  &__main {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1070px;
    margin: 0 0 30px 100px;
    padding: 50px 0 0 0;
    border: 1px solid #d8dce5;
    background-color: #ffffff;

    &-info {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 100%;
      top: -1px;
      width: 100px;
      height: 100px;
      padding: 10px;
      background: #cd2e2a;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    #map {
      display: block;
      position: relative;
      width: 100%;
      height: 550px;
      left: -50px;
      z-index: 1;
    }
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    position: relative;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 534px;
    padding-top: 45px;
    border-right: 1px solid #d8dce5;

    &-row {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      position: relative;
      width: 100%;
      min-height: 103px;
      padding: 20px;
      border-top: 1px solid #d8dce5;
      color: #cd2e2a;
      font-size: 20px;
      font-weight: 700;

      img,
      svg {
        display: inline-block;
        margin-right: 22px;
        transition: all 0.2s ease-out;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background: #cd2e2a;
        color: #ffffff;
        text-decoration: none;

        img,
        svg {
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 534px;
    min-height: 630px;
    margin-left: -1px;
    padding-top: 45px;
    border-left: 1px solid #d8dce5;

    &-input {
      display: block;
      position: relative;
      width: 100%;
      border-bottom: 1px solid #d8dce5;

      input {
        display: block;
        position: relative;
        width: 100%;
        border: 0;
        outline: none;
        padding: 26px 65px;
        color: #292929;
        font-size: 16px;
        font-weight: 300;
      }

      textarea {
        display: block;
        position: relative;
        width: 100%;
        border: 0;
        outline: none;
        padding: 26px 65px;
        color: #292929;
        font-size: 16px;
        font-weight: 300;
      }
    }

    &-icon {
      display: block;
      position: absolute;
      left: 20px;
      top: 26px;
      z-index: 1;
    }

    &-row {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 20px;
      border-top: 1px solid #d8dce5;
    }

    &-button {
      display: inline-block;
      padding: 18px 42px;
      border: 1px solid #cd2e2a;
      background-color: transparent;
      color: #292929;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background-color: #cd2e2a;
        color: #ffffff;
        text-decoration: none;
      }
    }

    &-info {
      display: inline-block;
      margin: 0 0 0 55px;
      color: #292929;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.3;
    }
  }

  &__title {
    display: block;
    position: relative;
    margin: 0;
    padding-left: 20px;
    color: #292929;
    font-size: 30px;
    font-weight: 700;

    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 5px;
      left: -10px;
      width: 9px;
      height: 24px;
      background-color: #cd2e2a;
    }
  }

  &__subtitle {
    display: block;
    margin: 36px 0 30px 0;
    padding-left: 20px;
    color: #292929;
    font-size: 20px;
    font-weight: 700;
  }

  &__info {
    display: block;
    margin: 0 0 18px 0;
    padding-left: 20px;
    color: #292929;
    font-size: 20px;
    font-weight: 400;

    a {
      color: #292929;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #cd2e2a;
        text-decoration: none;
      }
    }
  }

  &__description {
    display: block;
    max-width: 360px;
    margin: 6px 0 48px 0;
    padding-left: 20px;
    color: #292929;
    font-size: 20px;
    font-weight: 300;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .g-home-big {
    margin: 0;
  }

  .g-home-big__card-content {
    height: 500px;
    padding: 20px 0;
  }

  .g-home-big__card-title {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .g-header__mob {
    display: block;
  }

  .g-header__dropper:hover>.g-header__drop {
    display: none;
  }

  .g-header__nav {
    padding: 12px 0;
  }

  .g-header__nav>li {
    display: block;
    width: 100%;

    &>a {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  .g-top>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .g-top__info {
    margin-bottom: 8px;
  }

  .g-top__link {
    margin: 12px 0;
  }

  .g-modal__content {
    padding: 5px;
  }

  .g-modal__form-title {
    padding: 30px 20px 20px 30px;
    text-align: center;
  }

  .g-modal__form-subtitle {
    padding: 5px 20px 20px 30px;
    text-align: center;
  }

  .g-modal__row {
    justify-content: space-around;
    padding: 20px;
  }

  .g-modal__info {
    margin: 10px 0 0 0;
    text-align: center;
  }

  .g-top {
    display: none;
  }

  .g-header__nav {
    display: none;
  }

  .g-home-big__card-subtitle {
    margin-bottom: 20px;
  }

  .g-welcome {
    padding: 30px 0;
  }

  .g-welcome__subtitle {
    margin-bottom: 20px;
  }

  .g-welcome__image {
    height: 350px;
    margin: 20px 0;
  }

  .g-welcome__image-info {
    display: none;
  }

  .g-welcome__image-this {
    margin: 0;
  }

  .g-welcome__cards {
    padding-top: 20px;
  }

  .g-welcome__card {
    margin-bottom: 20px;
  }

  .g-home-materials {
    padding: 30px 0;
  }

  .g-home-materials__title {
    margin-bottom: 15px;
    font-size: 32px;
  }

  .g-home-materials__row {
    padding-bottom: 30px;
  }

  .g-home-projects {
    padding: 30px 0;
  }

  .g-home-projects__title {
    margin-bottom: 15px;
    font-size: 32px;
  }

  .g-home-projects__row {
    padding-bottom: 30px;
  }

  .g-home-projects__prev {
    margin: 10px;
  }

  .g-home-projects__next {
    margin: 10px;
  }

  .g-home-projects__card {
    height: 400px;
    margin: 0 auto;
  }

  .g-home-form {
    padding: 30px 0;
  }

  .g-home-form__form-title {
    padding: 30px 60px;
  }

  .g-home-form__row {
    justify-content: space-around;
    padding: 20px;
  }

  .g-home-form__info {
    margin: 10px;
    text-align: center;
  }

  .g-home-form__catalog-info {
    display: none;
  }

  .g-home-form__catalog-image {
    margin: 20px 0;
    height: 350px;
  }

  .g-home-form__catalog {
    margin: 20px 0;
    right: 0;
  }

  .g-home-form__catalog-content {
    padding: 30px 20px;
  }

  .g-home-form__catalog-subtitle {
    margin-bottom: 20px;
  }

  .g-home-where__title {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .g-home-where-card {
    margin: 0 auto 30px auto;
  }

  .g-home-partners {
    padding: 30px 0;
  }

  .g-home-partners__title {
    margin-bottom: 15px;
    font-size: 32px;
  }

  .g-home-partners__row {
    padding-bottom: 30px;
  }

  .g-home-partners__prev {
    margin: 10px;
  }

  .g-home-partners__next {
    margin: 10px;
  }

  .g-home-partners__card {
    margin-bottom: 20px;
  }

  .g-home-articles {
    padding: 30px 0;
  }

  .g-home-articles__title {
    margin-bottom: 15px;
    font-size: 32px;
  }

  .g-home-articles__row {
    padding-bottom: 30px;
  }

  .g-home-articles__prev {
    margin: 10px;
  }

  .g-home-articles__next {
    margin: 10px;
  }

  .g-home-articles__card {
    margin: 0 auto;
  }

  .g-home-articles__cards {
    padding-bottom: 40px;
  }

  .g-home-seo {
    padding: 30px 0;

    &__title {
      margin-bottom: 20px;
      font-size: 32px;
    }
  }

  .g-home-seo__image {
    height: 350px;
  }

  .g-home-seo__image-category {
    display: none;
  }

  .g-home-seo__image-this {
    margin: 0;
    top: 0;
    right: 0;
  }

  .g-footer {
    padding: 30px 0;
  }

  .g-footer__policy {
    margin: 20px 0;
  }

  .g-footer__creators {
    margin-bottom: 20px;
  }

  .g-footer__category {
    margin: 25px 0;
  }

  .g-welcome__card {
    margin-left: 0;
  }

  .g-page {
    padding: 30px 0;
  }

  .g-page__title {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .g-help__category {
    margin-bottom: 10px;
  }

  .g-help__cards {
    padding-top: 50px;
  }

  .g-help__cards .g-home-articles__card {
    margin-bottom: 60px;
  }

  .g-home-articles__card-image {
    right: 0;
  }

  .g-pagination {
    padding-bottom: 20px;
  }

  .g-catalog__cards {
    padding-bottom: 20px;
  }

  .g-goods__filter {
    flex-flow: row wrap;
    justify-content: center;
  }

  .g-goods__header {
    .g-home-projects__button {
      margin: 0 auto 20px auto;
    }
  }

  .g-goods__select {
    margin-top: -1px;
  }

  .g-goods__filter-button {
    width: 100%;
    max-width: 244px;
  }

  .g-goods__card {
    padding: 0 20px 20px 20px;
  }

  .g-goods__cards {
    padding-bottom: 30px;
  }

  .g-article__big {
    height: 300px;
    margin: 0 0 30px 0;

    &-this {
      margin: 0;
    }

    &-info {
      display: none;
    }
  }

  .g-article__content blockquote {
    margin: 20px 0 30px 0;
    padding: 30px 20px;

    &:before {
      left: 0;
    }

    &:after {
      display: none;
    }
  }

  .g-about__big {
    height: 300px;
    margin: 0 0 30px 0;

    &-info {
      display: none;
    }
  }

  .g-about__big-this {
    margin: 0;
  }

  .g-about__image {
    max-height: 350px;
    margin: 0 0 20px 0;
  }

  .g-about__content {
    margin-bottom: 0;
  }

  .g-papers {
    padding: 30px 0;
  }

  .g-papers__title {
    margin-bottom: 15px;
    font-size: 32px;
  }

  .g-papers__row {
    padding-bottom: 30px;
  }

  .g-papers__prev {
    margin: 10px;
  }

  .g-papers__next {
    margin: 10px;
  }

  .g-object__big {
    margin: 0 0 30px 0;
    padding: 0;

    &-cards {
      margin: 0;
      left: 0;
    }

    &-card {
      height: 350px;
    }

    &-info {
      display: none;
    }
  }

  .g-object__big .swiper-pagination {
    width: 100%;
    bottom: -30px;
  }

  .g-object__content {
    padding: 30px 20px;
  }

  .g-modal__close {
    right: 5px;
    top: 5px;
  }

  .g-item__main {
    margin: 0 0 30px 0;
    padding: 0;
  }

  .g-item__main-wrapper {
    left: 0;
  }

  .g-item__main-info {
    display: none;
  }

  .g-item__main-image {
    height: 350px;
    margin-bottom: 20px;
  }

  .g-page__title {
    height: auto;
    margin-bottom: 20px;
  }

  .g-item__main-button {
    display: block;
    width: 100%;
  }

  .g-item__main-content {
    padding: 5px 20px 20px 20px;
  }

  .g-item__main-link {
    display: block;
    width: 100%;
    margin-top: 10px;
  }

  .g-tabs__header {
    flex-flow: column nowrap;
    align-items: center;

    li {
      margin: 0;
      padding: 8px 12px;
    }
  }

  .g-tabs__content {
    padding: 20px;
  }

  .g-team__big {
    margin: 0 0 30px 0;
    padding: 0;
  }

  .g-team__big-this {
    left: 0;
    height: 350px;
  }

  .g-team__content {
    padding: 30px 20px;
  }

  .g-team__content blockquote {
    padding: 20px;
    background: #d8dce5;
  }

  .g-workers__card {
    margin-bottom: 50px;
  }

  .g-basket__header {
    display: none;
  }

  .g-basket-card {
    padding: 5px 20px 20px 20px;
  }

  .g-basket-card__title {
    text-align: center;
  }

  .g-basket__final {
    padding: 20px 0;
    align-items: center;
    text-align: center;
  }

  .g-contacts__main {
    padding: 0;
    margin: 0 0 20px 0;

    &-info {
      display: none;
    }

    #map {
      height: 350px;
      left: 0;
    }
  }

  .g-contacts__form {
    min-height: auto;
  }

  .g-contacts__content-row {
    min-height: auto;
    border-bottom: 1px solid #d8dce5;
  }

  .g-contacts__form-row {
    justify-content: space-around;
    text-align: center;
  }

  .g-contacts__form-info {
    margin: 10px;
  }

  .g-contacts__description {
    margin-bottom: 20px;
  }

  .g-contacts__subtitle {
    margin: 20px 0;
  }

  .g-home-big .swiper-pagination {
    right: 10px;
  }
}